<link rel="stylesheet" href="/assets/searchbar.css.scss">
<div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Summoner name">
    <button type="submit" class="searchButton">
      <!-- <i class="fa fa-search"></i> -->
      <div class="glyphicon glyphicon-search" aria-hidden="true"></div>
    </button>
  </div>
</div>